* {
    box-sizing: border-box;
}

/* СЕЛЕКТОРЫ ПО ТЕГУ */

header {
    position: fixed;
    top: 0px;
    left: 0px;
    right:0px;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    padding: 0 2rem;
}

header h1 {
    color: white;
    font-size: 2rem;
    padding: 0 1rem;
    text-align: center;
}

header nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
    font-size: 1.5rem;
    text-wrap: nowrap;
}

footer {
    background-color: black;
    width: 100%;
    height: 5rem;
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 1.5rem;
    justify-content: space-between;
    padding: 0 2rem;
}

footer a {
    font-weight: bold;
    line-height: 0px;
}


a {
    color: white;
    text-decoration: none;
    transition: color 0.5s ease 0s;
}

a:hover {
    color: rgb(77, 140, 37);
}


body {
    margin: 0px 0px;
}

main {
    margin: 0px 2rem;
}

main > section > h2 {
    margin-top: 3rem;
    margin-bottom: 2rem;
}

/* СЕЛЕКТОРЫ ПО ИДЕНТИФИКАТОРУ */

#current-page-nav {
    color: orange;
}

/* СЕЛЕКТОРЫ ПО КЛАССУ */

.dish-element {
    display: flex;
    flex-direction: column;
    padding: 30px 40px;
    border-radius: 35px;
    cursor: pointer;
    filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
    background-color: white;
    margin-bottom: 1rem;
    transition: transform 0.5s 0s ease;
}

.dish-element:hover {
    transform: translateY(-15px);
}

.inline-ul > li {
    display: inline;
}

.image-dish {
    border-radius: 35px;
    width: 100%;
}

.price-dish {
    font-size: 1.5rem;
    margin-bottom: 0;
}

.name-dish {
    margin: 0;
    font-size: 1.5rem;
}

.weight-dish {
    margin-top: 0.5rem;
    color: grey;
}

.btn-add-to-buy-list {
    background-color: rgba(241, 238, 233, 100);
    padding: 10px 30px;
    border-radius: 10px;
    border: 1px solid transparent;
    cursor: pointer;
}

.btn-add-to-buy-list:hover {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.dish-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
}


/* Зона для заказа */

fieldset {
    border: none;
}


.take-order {
    margin-bottom: 3rem;
}

.take-order > h2 {
    text-align: center;
}
  /* Форма */
    .form-container > form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        gap: 10rem;
    }


    .take-order-part, .customer-data-part {
        display: flex;
        flex-direction: column;
    }

    .take-order-part {
        justify-self: end;
    }

    .customer-data-part {
        justify-self: start;
    }

    .take-order-part > section, .customer-data-part > section {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .take-order-part > section > label, .customer-data-part > section > label {
        align-self: flex-start;
    }

    .take-order-part > section, .customer-data-part > section {
        margin-bottom: 1rem;
        width: 24rem;
    }

    .customer-data-part p {
        margin: 0;
    }

    .take-order-part select, .take-order-part textarea, .customer-data-part input {
        display: inline-block;
        width: 100%;
        height: 2.5rem;
    }

    .take-order-part textarea {
        height: 5rem;
    }

    .promotional-consent-container {
        width: 100%;
    }

    #promotional-consent-id {
        width: auto;
        margin: 0;
        padding: 0;
        vertical-align: middle; 
    }

    .promotional-consent-container > label {
        display: inline-block;
        vertical-align: middle; 
    }
    .radio-buttons {
        width: 100%;
        padding: 0;
        margin: 0;
        margin-left: 0.5rem;
        margin-bottom: 1rem;
    }

    #faster-id, #by-the-time-id, #faster-id + label,  #by-the-time-id + label {
        width: auto;
        vertical-align: middle;
        height: auto;
    }

    .button-container {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
    .button-container > button {
        height: 3rem;
        flex: 1;

        background-color: rgba(241, 238, 233, 100);
        padding: 10px 30px;
        border-radius: 10px;
        border: 1px solid transparent;
        cursor: pointer;
    }

    .button-container > button:hover {
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    }

    #input-additional-comment-id {
        resize: none;
    }


/* медиа-селекторы */
@media(max-width: 900px) {

    header {
    position: static;
    top: 0px;
    left: 0px;
    right:0px;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 0 2rem;
}


    .dish-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    }

    nav {
        align-self: center;
        display: grid;
        grid-template-columns: repeat(auto-fit, 1fr);
        grid-row: n;
        justify-items: center;
        font-size: 1.5rem;
        text-wrap: nowrap;
    }
}



@media(max-width: 600px) {

    h1 {
        text-align:center;
    }

    header {
    position: static;
    top: 0px;
    left: 0px;
    right:0px;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 0 0;
    }


    .dish-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 10px;
    }

    nav {
        align-self: center;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        font-size: 1.5rem;
        text-wrap: nowrap;
    }
    
    nav > a {
        text-align: center;
    }

    section > h2 {
        text-align: center;
    }

}


@media(max-width: 400px) {
    main {
        overflow-x: hidden;
    }
}

